body {
  font-family: "Neo Sans Pro", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: @normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

ul {
  .reset();
  list-style-type: none;
}

input,
button {
  font: inherit;
}

button {
  cursor: pointer;
}
