.features {
  padding-top: 15px;
  padding-bottom: 105px;
  
  h2 {
    margin-bottom: 25px;
  }
  
  p {
    max-width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}

.features__img {
  width: 100%;
  margin-top: 85px;
  position: relative;
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.features__item {
  position: absolute;
  
  p {
    max-width: 230px;
    text-align: left;
    color: #7e7a7f;
    line-height: 30px;
    
    span {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      color: #3c353e;
    }
  }
  
  &::after {
    content: "";
    position: absolute;
    width: 325px;
    height: 2px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
  }

  &--seat {
    top: 13%;
    left: 10%;
    
    .feature__circle {
      top: 0;
      left: 179%;
    }
    
    &::after {
      top: 13px;
      left: 40%;
    }
  }
  
  &--resin {
    top: 42%;
    left: 0;
    
    p {
      max-width: 150px;
    }
    
    .feature__circle {
      top: 0;
      left: 270%;
    }
    
    &::after {
      top: 15px;
      left: 55%;
    }
  }
  
  &--chain {
    top: 65%;
    left: 1%;
    
    p {
      max-width: 200px;
    }
    
    .feature__circle {
      top: 0;
      left: 230%;
    }
    
    &::after {
      top: 15px;
      left: 50%;
    }
  }
  
  &--rule {
    top: 4%;
    right: 0;
    
    p {
      max-width: 220px;
    }
    
    .feature__circle {
      top: 0;
      left: -155%;
    }
    
    &::after {
      top: 15px;
      right: 100%;
    }
  }
  
  &--frame {
    top: 26%;
    right: 0;
    
    .feature__circle {
      top: 4%;
      left: -153%;
    }
    
    &::after {
      top: 20px;
      right: 100%;
    }
  }
  
  &--system {
    top: 72%;
    right: 0;
    
    p {
      max-width: 200px;
      background-color: #fff;
      position: relative;
      z-index: 5;
    }
    
    .feature__circle {
      top: -145%;
      left: -160%;
    }
    
    &::after {
      bottom: 90px;
      right: 70%;
      width: 371px;
      height: 215px;
      background-image: url(../img/line-2.png);
    }
  }
  
  &--step {
    bottom: -75px;
    right: 12%;
    
    p {
      max-width: 250px;
    }
    
    .feature__circle {
      top: -293%;
      left: -172%;
    }
    
    &::after {
      bottom: 50px;
      right: 107%;
      width: 371px;
      height: 215px;
      background-image: url(../img/line-2.png);
    }
  }
}

.feature__circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(184, 101, 29, 0.17);
  z-index: 5;
  
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(184, 101, 29);
  }
}
