.gift {
  margin-bottom: 160px;
  
  h3 {
    font-size: 30px;
    font-weight: 600;
    color: #514b55;
  }
}

.gift__link {
  float: right;
  color: #2790e8;
  font-size: 18px;
  text-decoration: underline;
}
