.map {
  position: relative;
  padding-top: 150px;
}

.map__circle {
  width: 1051px;
  height: 1068px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.map__icon {
  position: absolute;
  
  &--1 {
    left: 30%;
    top: 30%;
  }
  
  &--2 {
    left: 45%;
    top: 40%;
  }
  
  &--3 {
    left: 52%;
    top: 42%;
  }
  
  &--4 {
    left: 65%;
    top: 35%;
  }
  
  &--5 {
    left: 20%;
    top: 60%;
  }
  
  &--6 {
    left: 48%;
    top: 50%;
  }
  
  &--7 {
    left: 60%;
    top: 55%;
  }
  
  &--8 {
    left: 62%;
    top: 70%;
  }
}

.map__label {
  display: none;
  width: 398px;
  padding: 20px;
  border-radius: 9px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 46px 0px rgba(0, 0, 0, 0.18);
  overflow: visible !important;
  
  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #696a6b;
    margin: 0;
  }
  
  p {
    color: #696a6b;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0;
  }
}

.fancybox-close-small {
  bottom: -10px;
  top: auto;
  right: -10px;
  width: 39px;
  height: 39px;
  border-radius: 9px;
  background-color: rgb(54, 124, 255);
  background-image: url(../img/icon-cross.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  
  &::after {
    display: none;
  }
}

.fancybox-is-open .fancybox-bg {
  opacity: 0;
}
